<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="https://www.thymeleaf.org" 
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	
    <head>
        <title>Neh's Pizza</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Welcome to Neh's Pizza! </h1>

        <p>Click <a th:href="@{/hello1}">here</a> to Login!</p>
    </body>
</html>

<!-- this is the home page. it can be seen by anyone. says intro about neh's pizza -->