<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Sign Up</h1>
    <form action="#" th:action="@{/signup}" th:object="${signup}" method="post">
    	<p>First Name: <input type="text" th:field="*{firstName}" /></p>
        <p>Last Name: <input type="text" th:field="*{lastName}" /></p>
        <p>Phone Number: <input type="text" th:field="*{phno}" /></p>
        <p>Role: <input type="checkbox" th:field="*{role}" /></p>
        
        
        <!-- <select th:field="*{role}">
		  <option 
		      th:each="dropdownValue: ${singleSelectAllValues}"
		      th:value="${dropdownValue}"
		      th:text="${dropdownValue}" ></option>
		</select> -->
		
		<p>Email: <input type="email" th:field="*{email}" /></p>
        <p>Password: <input type="password" th:field="*{password}" /></p>
        
        <p><input type="submit" value="Submit" />
         <input type="reset" value="Reset" />	</p>
    </form>
</body>
</html>