<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>User Details</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Neh's Pizza</h1>
    
	<h2>Update User</h2>
	
	<form action="#" th:action="@{/items/update/{id}(id=${item.id})}" th:object="${item}" method="post">
		<p>Id :<input type="text" th:field="*{id}" /></p>
		<p>Name : <input type="text" th:field="*{name}" /></p>	
		<p>Size : <input type="email" th:field="*{size}" /></p>
		<p>Price : <input type="text" th:field="*{price}" /></p>
		
		<input type="submit" value="Update Student">
	</form>
	</body>
	</html>
