<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>User Details</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Neh's Pizza</h1>
    
	<h2>Update User</h2>
	
	<form action="#" th:action="@{/user/update/{id}(id=${user.id})}" th:object="${user}" method="post">
		<p>First Name :<input type="text" th:field="*{firstName}" placeholder="enter first name"/></p>
		<p>Last Name : <input type="text" th:field="*{lastName}" placeholder="enter last name"/></p>	
		<p>Email : <input type="email" th:field="*{email}" placeholder="enter email" /></p>
		<p>Phone Number : <input type="text" th:field="*{phno}" placeholder="enter phone number"/></p>
		<p>Password : <input type="password" th:field="*{password}" placeholder="enter password" /></p>	
		
		<input type="submit" value="Update Student">
	</form>
	</body>
	</html>
